/* Styles for the Home component */
.container {
    /* max-width: 800px;*/
    padding: 20px;
    margin: 0 auto;
    background-color: #000000;
  }
  
  body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100%; /* Set height of body to 100% */
    background-color: #000000; /* Set desired background color */
    color: white; /* Set default text color */
  }
  
  h1 {
    font-size: 32px;
    color: #333;
  }
  
  p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
  }
  
  /* Horizontal navigation links */
  .nav-links {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
    color: #017c91; /* Update link text color to white */
    background-color: transparent; /* Set background color to transparent */
    border: none; /* Remove border */
    font-weight: bold; /* Optionally set font weight */
    font-size: 16px; /* Set font size */
    transition: color 0.3s ease; /* Smooth color transition on hover */
  }
  
  .nav-links a:hover {
    background-color: #021f2c;
  }
  